{% load crispy_forms_tags %}
{% load static %}

<head>
    <title>Login Page</title>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" media="all" />

</head>


<body class="text-center">



<form class="form-signin" method="POST">
        {% if messages %}
         {% for message in messages %}
             <div class="text-center alert alert-{{ message.tags }}">
                 {{ message|safe }}
             </div>
         {% endfor %}
        {% endif %}
      <img class="mb-4" src="{% static 'images/beer.jpg' %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <div>
          {% csrf_token %}
          {{ form|crispy }}
      </div>
      <button class="btn btn-lg btn-secondary btn-block" type="submit">Sign in</button>
        <div class="border-top pt-3">
               <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'users:register' %}">Sign Up</a>
            </small>
        </div>
      <p class="mt-5 mb-3 text-muted">© Hold My Beer 2020</p>
    </form>

</body>