{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="shopping-cart">

  <div class="title">
    Your Order
  </div>

  <!-- Beer #1 -->
  <div class="item">
    <div class="buttons">
      <span class="delete-btn"></span>
      <span class="like-btn"></span>
    </div>

{#    {% for order in orders %}#}
        <div class="image">
          <img src="#" alt="" />
        </div>

        <div class="description">
          <span>Some beer</span>
          <span>White RIS</span>
          <span>Blabla</span>
        </div>

        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="{% static 'images/plus.svg' %}" alt="" />
          </button>
          <input type="text" name="name" value="1">
          <button class="minus-btn" type="button" name="button">
            <img src="{% static 'images/minus.svg' %}" alt="" />
          </button>
        </div>

    <div class="total-price">23 PLN</div>

  </div>
</div>


{% endblock content %}