{% extends 'base.html' %}

{% block content %}

<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Great taste in beer!</strong> Your order {{ latest_order.buyer }} for {{ latest_order.total }}
      {{ latest_order.currency }} is now complete and on the way to you!
 </p>
  <hr>
  <p>
    Having trouble? <a href="{% url 'users:contact' %}">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-secondary btn-sm" href="{% url 'beer-list' %}" role="button">Continue to homepage</a>
  </p>
</div>

{% endblock %}